---
http_interactions:
  - request:
      method: post
      uri: https://inpol.mazowieckie.pl/api/reservations/queue/3ab99932-8e53-4dff-9abf-45b8c6286a99/reserve
      headers:
        Content-Type:
          - application/json
        Authorization: "Bearer auth-token-123"
        Authorization:
          - Bearer auth-token-123
      body:
        encoding: UTF-8
        string: '{"proceedingId":"d92155f8-fa08-4bf3-a671-0b0164a8e7a0","slotId":12960386,"name":"Stafaniya","lastName":"Krautsova","dateOfBirth":"2019-12-17T00:00:00Z"}'
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - text/plain; charset=utf-8
      body:
        encoding: ASCII-8BIT
        string: bd243d39-d060-4240-a5d2-ed5d85315e61
    recorded_at: Thu, 21 Apr 2022 16:27:36 GMT
recorded_with: VCR 6.1.0
